<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Anagram results</title>
</head>
<body>
    <div class="container">
        <h1>Anagram results:</h1>
        <h4>{{ newAnagram }}</h4>
    </div>
    <a href="/"><strong>Home</strong></a>
</body>
</html>
